<%- include("partials/header"); -%>

<body class="gradient">
        
    <!-- product landing page -->

    <!-- change according to need afterwards -->

    <section class="mb-5" style="background-color: #eee;">
        <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-6">
            <div class="card" style="border-radius: 15px;">
                <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">
                <img src="data:image/<%=product.img.contentType%>;base64,
                        <%= product.img.data.toString('base64') %>"
                    style="border-top-left-radius: 15px; border-top-right-radius: 15px; width: 40%;" class="rounded mx-auto d-block mt-4"
                    alt="productImage" />
                <!-- <a href="#!">
                    <div class="mask"></div>
                </a> -->
                </div>
                <div class="card-body pb-0">
                <div class="d-flex justify-content-between">
                    <div>
                    <!-- <p><a href="#!" class="text-dark"><%= product.name %></a></p> -->
                    <p><%= product.name %></p>
                    <p class="small text-muted"><%= product.description %></p>
                    </div>
                </div>
                </div>
                <hr class="my-0" />
                <div class="card-body pb-0">
                <div class="d-flex justify-content-between">
                    <p><a href="#!" class="text-dark"><%= product.price %></a></p>
                </div>
                <p class=" text-muted">
                    <span><strong>Auction Date: </strong></span>
                    <% ((product.auctionTime).toString()).split(" ").every(element => { %>
                        <% if (element[0] !== "G"){ %>
                            <span><strong><%= element %></strong></span>
                            <% return true %>
                        <% }else{ %>
                            <% return false %>
                        <% } %>
                    <% }); %>
                </p>
                <div class="my-4">
                    <div class="d-none">
                        <input type="hidden" id="auctionDate" value="<%= product.auctionTime - Date.now() %>">
                    </div>
                        <span><strong>Time Left:</strong>
                            <span id="D"><strong></strong></span><span>D :</span>
                            <span id="H"><strong></strong></span><span>H :</span>
                            <span id="M"><strong></strong></span><span>M :</span>
                            <span id="S"><strong></strong></span><span>S</span>
                        </span> 
                        
                </div>
                </div>
                <hr class="my-0" />
                <div class="card-body"> 
                <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                    <!-- <a href="/home/" class="text-dark fw-bold">Cancel</a> -->
                    <form>
                        <input class="btn btn-light" type="button" value="Go Back" onclick="history.back() ">
                    </form>
                    <!-- change bidding time button could be provided below for useer type of seller -->
                    <% if(user === "buyer"){ %>
                        <a href="/auctionPage/<%= userId %>/<%= product.id %>" style="text-decoration: none; color: white;"><button
                            <% if((product.auctionTime - Date.now()) < 0 ){ %>
                                disabled
                            <% } %>
                            type="button" class="btn btn-primary">(start bidding button)Buy now</button></a>
                    <% } %>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>

    <script>

        var auctionTime = Math.floor(document.getElementById("auctionDate").value / 1000);
        console.log(auctionTime);
        
        const D = document.getElementById("D");
        const H = document.getElementById("H");
        const M = document.getElementById("M");
        const S = document.getElementById("S");

        setInterval(() => {

            D.innerText = Math.floor(auctionTime/(60*60*24));

            H.innerText = Math.floor((auctionTime/(60*60)) - (Math.floor(auctionTime/(60*60*24))*24));

            M.innerText = Math.floor((auctionTime/60) - (Math.floor((auctionTime/(60*60)))*60));

            S.innerText = Math.floor(auctionTime - (Math.floor(auctionTime/60)*60));
            auctionTime = auctionTime-1;

        }, 1000);
    </script>

<%- include("partials/footer"); -%>