<%- include("partials/header"); -%>

<body class="gradient">

    <section class="vh-100 mb-5" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-8">
      
              <div class="card" style="border-radius: 15px;">
                <div class="card-body text-center">
                  <div class="mt-3 mb-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                      class="rounded-circle img-fluid" style="width: 100px;" />
                  </div>
                  <h4 class="mb-2"><%= User.name %></h4>
                    <p class="text-muted mb-4"> <%= user %> <span class="mx-2">|</span> 
                        <input class="btn btn-light" type="button" value="Go Back" onclick="history.back() ">
                    </p>
                  <div class="mb-4 pb-2">
                    <!-- <button type="button" class="btn btn-outline-primary btn-floating">
                      <i class="fab fa-facebook-f fa-lg"></i>
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-floating">
                      <i class="fab fa-twitter fa-lg"></i>
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-floating">
                      <i class="fab fa-skype fa-lg"></i>
                    </button> -->
                  </div>
                  <button type="button" class="btn btn-primary btn-rounded btn-lg">

                    <% if(user === "seller"){ %>
                        <a style="text-decoration: none; color: white" href="/product/<%= User.id %>">Add Products</a>
                    <% }else{ %>
                        <a style="text-decoration: none; color: white" href="/home/<%=user%>/<%=User.id%>">Browse Products</a>
                    <% } %>
                  </button>
                  <div class="d-flex justify-content-between text-center mt-5 mb-2">
                    <!-- <div>
                      <p class="mb-2 h5">8471</p>
                      <p class="text-muted mb-0">Wallets Balance</p>
                    </div> -->
                    <div class="px-4 mx-5 w-100">
                        <% if(user === "seller"){ %>
                            <p class="mb-2 h5"><%= User.totalMoneyEarned %></p>
                            <p class="text-muted mb-0">Total Income</p>
                        <% }else{ %>
                            <p class="mb-2 h5"><%= User.totalMoneySpent %></p>
                            <p class="text-muted mb-0">Total Spends</p>
                        <% } %>
                    </div>
                    <div class="px-4 mx-5 w-100">
                        <% if(user === "seller"){ %>
                            <p class="mb-2 h5"><%= User.productsDisplayed.length %></p>
                            <p class="text-muted mb-0">Products Displayed</p>
                        <% }else{ %>
                            <a href="/home/buyer/<%=User._id%>/productsPurchased" style="text-decoration: none; color: black;">
                              <p class="mb-2 h5"><%= User.productsPurchased.length %></p>
                              <p class="text-muted mb-0">Products Purchased</p>
                            </a>
                        <% } %>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </section>

<%- include("partials/footer"); -%>